img.channel-emoji {
    width: 36px;
    height: 36px;
    margin: 2px 4px;
    border-radius: 5px;
    object-fit: cover;
    vertical-align: middle;
}

img.big-channel-emoji {
    width: 180px;
    height: 180px;
    margin: 2px 4px;
    border-radius: 10px;
    object-fit: cover;
    vertical-align: middle;
}